*{
text-align: center;
}
#title{
    font-family: 'Abril Fatface', cursive;
    text-align: center;

}
h1, h2{
    font-family: 'Abril Fatface', cursive;
}

h3{
    font-family: 'Unna', serif;
}
#paw{
    font-size: 50px;;
}
#anicon{
    font-size: 50px;
    padding: 2px;
}
