<div class="foreground"></div>
<div class="container" size="40px">
    <img style="margin-left: 30%" src="image/petrified.jpg" alt="profile" sizes="40px">
</div>

</div>

<div class="midground">
    <div class="tuna"></div>
</div>

<div class="background">
</div>