 <a href="/lostfound/" class="foreground"></a>
  <div class="container" size="40px">
    <a href="/lostfound/"><img id="logo"
      src="image/catdog.gif"
      alt="tuna"style="width:340px;height:280px"align="center"></a>
      
  </div>

  </div>


  <div class="midground">
    <div class="tuna"></div>
  </div>


  <div class="background"></div>
  <script src="./js/index.js"></script>