<head>
    <link type="text/stylesheets" src="public/styles/tuna.css">
</head>

<body>
    <div class="foreground">
        <a href="/lostfound/" style="border:none; "></a>
        <div class="container" style="width:100%;">
            <a style="border:none;" href="/lostfound/"><img id="logo" src="image/logo.gif" alt="logo"
                    style="margin-right:45%; width:240px; height:180px;">
            </a>

        </div>

    </div>
    <div class="container" size="40px">
        {{!-- <img style="margin-left: 30%" src="image/logo.gif" alt="profile" sizes="40px"> --}}
    </div>

    </div>

    <div class="midground">
        <div class="tuna"></div>
    </div>

    <div class="background">
    </div>
</body>