<head>
 <title>{{title}}</title>
    {{#each css}}
        <link rel="stylesheet" href="public/styles/home.css{{this}}">
    {{/each}}
</head>

<body class="align" style="text-align: center;">
  <br>
  <div id="log" class="container">
    <div class="form">
      <ul class="tab-group">
        <li class="tab active"><a id="su" href="#signup">Sign Up</a></li>
        <li class="tab"><a id="loi" href="#login">Log In</a></li>
      </ul>
<br>
<br>
      <hr>
      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>
          <hr>
          <form id="nu">

            <div class="top-row">
              <div id="newUserFN-input" class="field-wrap">
                <label>
                  First Name
                  <span class="req">*</span>
                </label>
                <input type="text" autocomplete="off" />
              </div>
              <div class="field-wrap">
                <label>
                  Last Name<span class="req">*</span>
                </label>
                <input id="newUserLN-input" type="text" required autocomplete="off" />
              </div>
            </div>
            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input id="newUserEmail-input" type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Set A Password<span class="req">*</span>
              </label>
              <input id="newUserPW-input" type="password" required autocomplete="off" />
            </div>

            <button id="ss" type="submit" class="button button-block" />Get Started</button>
          </form>
        </div>
        <div id="login">

          <h1 id="welc">Welcome Back!</h1>
          <hr>
          <form action="/" method="post">
            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password" required autocomplete="off" />
            </div>
            <p class="forgot"><a id="unt"href="#">Forgot Password?</a></p>
            <button id="lin"class="button button-block" />Log In</button>
          </form>
        </div>
      </div>
    </div><!-- tab-content -->
  </div> <!-- /form -->


  </div>
  <div id="mm" class="container">
    <br>
    <div style="background-color:lightslategray" class="jumbotron jumbotron-fluid">

      <i id="paw" style="font-size: 50px; " class="fas fa-paw"></i>
      <h1 class="animated fadeInDown" id="title" style="font-family: 'Abril Fatface', cursive;
      text-align: center;" class="display-4">PETRIFIED</h1>
      <h3 style="font-family: 'Unna', serif;">Your Home For Getting Them Home</h3>
      <hr>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#lost">
        I Lost A Pet!
      </button>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#found">
        I Found A Pet!
      </button>
      <br>
      <br>
      <a style="background-color:tomato;" id="browseCat" class="btn btn-dark" href="/catalog/" role="button">Browse Our Catalogue</a>
    </div>
    <div class="modal fade" id="lost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 style="font-family: 'Abril Fatface', cursive; text-align:center;" class="modal-title" id="lost">You
              lost
              a pet? Take a
              deep breath.</h2>
            <hr>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form>
              <fieldset class="uk-fieldset">

                <legend class="uk-legend">Lets Find Out About Your Little One</legend>

                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Animal Name" id="lostName">
                </div>

                <div class="uk-margin">
                  <select class="uk-select" id="at">
                    <button type="button">Animal Type</button>
                    <option>Animal Type</option>
                    <div uk-dropdown></div>
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Other</option>
                  </select>
                </div>

                <div class="uk-margin">
                  <select class="uk-select" id="ac">
                    <option>Animal Color</option>
                    <button type="button">Animal Color</button>
                    <div uk-dropdown></div>
                    <option>White</option>
                    <option>Black</option>
                    <option>Brown</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="uk-margin">
                  <select class="uk-select" id="as">
                    <option>Animal Size</option>
                    <button type="button">Animal Size</button>
                    <div uk-dropdown></div>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                  </select>
                </div>
                <h6>Where were they last seen?</h6>
                <div class="uk-margin">
                  <textarea class="uk-textarea" id="desc" rows="5"
                    placeholder="e.g. Neighborhood, cross streets, etc..."></textarea>
                </div>
                <div class="uk-margin">
                  <input class="uk-input" id="ls" type="text" placeholder="Zip Code">
                </div>
                <div  id="upup"class="form-group">
                  <label class="fix"id="upup" for="exampleFormControlFile1">Upload a picture</label>
                  <input id="upup" type="file" class="form-control-file" id="petImage">
                </div>
                <h6>Can We Contact You?</h6>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Yes,
                    Please!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">No Thanks!</label>
                </div>
                <div>
                  <br>
                  <input type="email" class="form-control" id="contact" aria-describedby="emailHelp"
                    placeholder="Contact Info">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your info
                    with anyone else.</small>
                </div>

              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="lostAnimal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="found" tabindex="-1" role="dialog" aria-labelledby="found" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 style="font-family: 'Abril Fatface', cursive; text-align: center;" class="modal-title" id="found"> You
              found a pet? Lucky
              you!</h2>
            <hr>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form>
              <fieldset class="uk-fieldset">

                <legend class="uk-legend">Lets get your guest back home</legend>

                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Animal Name (if applicable)" id="foundName">
                </div>

                <div class="uk-margin">
                  <h6>What Kind of Animal Did You Find?</h6>
                  <select class="uk-select" id="at">
                    <option>Animal Type</option>
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Other</option>
                  </select>
                </div>

                <div class="uk-margin">
                  <select class="uk-select" id="ac">
                    <option>Animal Color</option>
                    <button type="button">Animal Color</button>
                    <div uk-dropdown></div>
                    <option>White</option>
                    <option>Black</option>
                    <option>Brown</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="uk-margin">
                  <select class="uk-select" id="as">
                    <option>Animal Size</option>
                    <button type="button">Animal Size</button>
                    <div uk-dropdown></div>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                  </select>
                </div>
                <h6>Where did you find them?</h6>
                <div class="uk-margin">
                  <textarea class="uk-textarea" id="desc" rows="5"
                    placeholder="e.g. Neighborhood, cross streets, etc..."></textarea>
                </div>
                <div class="uk-margin">
                  <input class="uk-input" id="ls" type="text" placeholder="Zip Code">
                </div>
                <div id="upup" class="form-group">
                  <label class="fix" id="upup" for="exampleFormControlFile1">Upload a picture</label>
                  <input id="upup" type="file" class="form-control-file" id="img">
                </div>
                <h6>Can We Contact You?</h6>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Yes,
                    Please!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">No Thanks!</label>
                </div>
                <div>
                  <br>
                  <input type="email" class="form-control" id="contact" aria-describedby="emailHelp"
                    placeholder="Contact Info">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your info
                    with anyone else.</small>
                </div>
                <div class="uk-margin">
                  <textarea class="uk-textarea" id="desc" rows="5"
                    placeholder="Textarea">Anything you'd like to add?</textarea>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="foundAnimal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $("#mm").hide();
      $("#ss").on("click", function (event) {
        $("#log").hide();
        $("#mm").show();
      })
      $('.form').find('input, textarea').on('keyup blur focus', function (e) {
        var $this = $(this),
          label = $this.prev('label');
        if (e.type === 'keyup') {
          if ($this.val() === '') {
            label.removeClass('active highlight');
          } else {
            label.addClass('active highlight');
          }
        } else if (e.type === 'blur') {
          if ($this.val() === '') {
            label.removeClass('active highlight');
          } else {
            label.removeClass('highlight');
          }
        } else if (e.type === 'focus') {
          if ($this.val() === '') {
            label.removeClass('highlight');
          }
          else if ($this.val() !== '') {
            label.addClass('highlight');
          }
        }
      });
      $('.tab a').on('click', function (e) {
        e.preventDefault();
        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');
        target = $(this).attr('href');
        $('.tab-content > div').not(target).hide();
        $(target).fadeIn(600);
      });
    </script>
</body>